@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --primary-color : #FFF;
    --secondary-color : #DCDCDC;
    --third-color: #666666;
    --fourth-color: #000;
}

body{
    font-size: 2em;
}

*{
    font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
}