header{
    font-size: 4rem;
    margin:2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-container {
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo{
    width: 30vw;
    height: 15vw;
    max-width: 60rem;
    max-height: 30rem;
    min-width: 3rem;
    min-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carrinho{
    width:  15vw;
    height: 15vw;
    max-width:  15rem;
    max-height: 15rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.header-logo img, .header-carrinho img{
    width: 100%;
    height: auto;
}

.search-input {
    font-size: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.search-input input {
  width: 80%;
  height: 2em;
  border-radius: 0.7rem;
}

.search-input button {
  width:    2em;
  height:   2em;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar{
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    gap: 0.4rem;
    padding: 0.2rem;
}

.toolbar>button{
    background-color: transparent;
    border: 0;
    text-transform: capitalize;
    position: relative;
}
.toolbar>button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    transition-duration: .25s;
}

.toolbar>button:hover:after{
    width: 100%;
}

.modal{
    background-color: var(--primary-color);
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.modal.inactive{
    visibility: hidden;
}

.modal button{
    background-color: var(--fourth-color);
    color: var(--primary-color);
}

.modal>header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.modal>header>h2{
    font-size:2.5rem;
    text-transform: capitalize;
}

.modal>header>button{
    border: 0;
    background-color: transparent;
}

.modal button>img{
    width: 2rem;
    height: auto;
}

main{
    margin-bottom: 2em;
}

.btn-card{
    background-color: black;
    color: white;
    width: 10em;
    max-width: 90%;
    max-height: 10%;
    height: 2em;
    padding: 0.7rem 4.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-container{
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; 
    gap:1rem;
}
.card{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 24em;
    max-width: 60vw;
    max-height: 120vw;
    padding: 0.5rem;
} 

.card>img{
    width: 10em; 
}

footer{
    font-size: 1em;
    border-top: 1px black solid;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.main-footer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
