.btn-card{
    background-color: black;
    color: white;
    width: 180px;
    height: 33px;
    padding: 7px 49px;
}
.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap:10px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;  
}