.footer-container {
    display: flex;
    align-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 150px;
    padding-top: 3%;
    width: 100%;
    border-top: 1px black solid;
}

.h2-footer-01 {
    font-size: 15px;
}

.div-footer-02 {
    padding-left: 35%;
}

.div-footer-03 {
    position: fixed;
    bottom: 0;
}
