
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
 }
 
.header-input-button {
  display: flex;
  align-items: flex-end;
}

.header-input-button input {
  margin-top: 2vh;
  width: 32vh;
  margin-left: 4vh;
  border-radius: 7px ;
}

.header-input-button button {
  width:4vh;
  border-radius: 7px ;
}